/* useful */
#navtable {
  position: absolute;
  margin: 44px;
  width: auto; }

details {
  margin-left: 2.33em; }
  details summary {
    margin-left: -2.33em; }
  details details {
    margin-left: 1em; }

.navitm {
  top: 0px;
  display: inline-block;
  width: auto; }
  .navitm .title, .navitm .icon, .navitm .action, .navitm .edit {
    width: 200px;
    display: inline-block; }
  .navitm form input[name=url] {
    visibility: hidden; }
  .navitm img {
    float: right;
    margin-top: -18px; }
  .navitm a {
    cursor: pointer; }
